<ion-view title="职位搜索">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header no-footer" delegate-handle="mainScroll">
    <div class="list">
      <div class="filter">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="config.filter.keywords" placeholder="请输入公司或职位名称...">
          </label>
        </div>
        <div style="height:40px;">
          <div class="select_style2" style="float:left;width:20%;margin-left:4%;">
            <select ng-model="config.filter.industry">
              <option value="">行业</option>
              <option value="{{item}}" ng-repeat="item in myConfig.search.industry"     ng-selected="item==config.filter.industry">{{item}}</option>
            </select>
          </div>
          <div class="select_style2" style="float:left;width:20%;margin-left:4%;">
            <select ng-model="config.filter.location">
              <option value="">城市</option>
              <option value="{{item}}" ng-repeat="item in myConfig.search.location"     ng-selected="item==config.filter.location">{{item}}</option>
            </select>
          </div>
          <div class="select_style2" style="float:left;width:20%;margin-left:4%;">
            <select ng-model="config.filter.salary">
              <option value="" ng-selected="!myConfig.search.salary[config.filter.salary]">薪资</option>
              <option value="{{key}}" ng-repeat="(key,item) in myConfig.search.salary"  ng-selected="key==config.filter.salary"   >{{item}}</option>
            </select>
          </div>
          <button ng-click="find()" style="background:#1aacc3;font-weight:bold;font-size:16px;border-radius:5px;border:0px;color:white;float:right;height:30px;margin-right:3%;margin-bottom:10px">搜索</button>
        </div>
      </div>
      <div style="text-align:center;padding:20px;margin-top:50px;width:100%;font-size:17px;color:#666;" ng-if="config.errormsg">
        <i class="icon ion-android-notifications-none" style="font-size:80px;color:#cccccc"></i>
        <br/><br/>没有搜到相关职位
        <br/><br/>试试其他关键词或筛选条件吧
      </div>
      <div class="row item" ng-click="view(job)" ng-repeat="job in config.jobs" style="padding:15px 10px;width:100%;">
        <div class="col col-75">
          <h2 style="font-size:18px;color:#222222">{{job.title}}</h2>
          <p>{{job.company}}</p>
        </div>
        <div class="col col-25">
          <p class="red_salary" style="text-overflow:clip;">{{job.salary}}</p>
          <p class="grey_date" style="font-size:12px">{{job.postdate}}</p>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="infinite()" icon="ion-load-c" ng-if="config.infinite">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>