<ion-view title="职业经历">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header no-footer">
    <div class="list" style="padding:0;margin:0">
      <div class="item item-input-inset" style="height:50px">
        <label class="input-label2" style="padding-left:6px">姓　　氏：</label>
        <input type="text" style='width:160px;margin-left:5px;' ng-model="ybb_user.profile.first_name" placeholder="只填姓氏"/>
        <div class="select_style3">
          <select style="float:left" ng-model="ybb_user.profile.gender" ng-value="1">
            <option value="{{key}}" ng-repeat="(key,val) in myConfig.gender" ng-selected="key==ybb_user.profile.gender">{{val}}</option>
          </select>
        </div>
      </div>
      <label class="item item-input item-select">
        <span class="input-label">工作经验：</span>
          <select ng-model="ybb_user.profile.work_year" style="float:left">
            <option value="{{key}}" ng-repeat="(key,val) in myConfig.work_year" ng-selected="key==ybb_user.profile.work_year">{{val}}</option>
          </select>
      </label>
      <label class="item item-input" ng-if="0<ybb_user.profile.work_year">
        <span class="input-label">公司名称：</span>
        <input type="text" placeholder="可填多个简称：百度 汇丰..." ng-model="ybb_user.profile.company"/>
      </label>
      <label class="item item-input" ng-if="0<ybb_user.profile.work_year">
        <span class="input-label">当前职位：</span>
        <input type="text" placeholder="请尽量精确填写..." ng-model="ybb_user.profile.current_position"/>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">行　　业：</span>
        <select ng-model="ybb_user.profile.industry_1" ng-change="resetIndustry2()">
          <option value="">请选择</option>
          <option value="{{item}}" ng-repeat="item in myConfig.search.industry" ng-selected="item==ybb_user.profile.industry_1">{{item}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">　　　　　</span>
        <select ng-model="ybb_user.profile.industry_2">
          <option value="">请选择</option>
          <option value="{{item}}" ng-repeat="item in myConfig.industry[ybb_user.profile.industry_1]" ng-selected="item==ybb_user.profile.industry_2">{{item}}</option>
        </select>
      </label>
      <label class="item item-checkbox">
        <div class="checkbox" style="width:1000px;display:block">
          <input type="checkbox" checked ng-model="update_shield_company">
        </div>
        同步更新“隐私设置-屏蔽公司”
      </label>
    </div>
  </ion-content>
  <ion-footer-bar>
    <center style="width:100%">
      <a ng-click="save()" class="button button-assertive" style="width:90%;margin:0px;">
        <b style="font-size:16px">保存</b>
      </a>
    </center>
  </ion-footer-bar>
</ion-view>