<ion-view title="教育背景">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header no-footer">
    <div class="list" style="padding:0;margin:0">
      <label class="item item-input">
        <span class="input-label">毕业院校：</span>
        <input type="text" placeholder="可填多个学校简称..." ng-model="ybb_user.profile.school"/>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">学　　历：</span>
        <select ng-model="ybb_user.profile.edu_level">
          <option value="{{key}}" ng-repeat="(key,val) in myConfig.edu_level" ng-selected="key==ybb_user.profile.edu_level">{{val}}</option>
        </select>
      </label>
    </div>
  </ion-content>
  <ion-footer-bar>
    <center style="width:100%">
      <a ng-click="save()" class="button button-assertive" style="width:90%;margin:0px;">
        <b style="font-size:16px">保存</b>
      </a>
    </center>
  </ion-footer-bar>
</ion-view>